body {
  background: url(./img/la-ds.avif) center/cover;
}
h1 {
  color: rgb(255, 0, 0);
  text-align: center;
  margin-top: 150px;
}
.div-Backdrop {
  height: 300px;
  width: 200px;
  margin: 50px auto;
  border-radius: 15px;
  background-color: rgba(77, 172, 78, 0.622);
}
/* Dùng @supports để kiểm tra wed có hỗ trợ không */
@supports (backdrop-filter: blur(5px) contrast(50%)) or
  (-webkit-backdrop-filter: blur(5px) contrast(50%)) {
  .div-Backdrop {
    background-color: rgba(77, 172, 78, 0.622);
    backdrop-filter: blur(5px) contrast(50%);
    -webkit-backdrop-filter: blur(5px) contrast(50%); /* Sử dụng tiền tố -Webkit-*/
  }
}
