.box_parent {
  height: 200px;
  background-color: red;
  /* Khi margin-top sẽ lấy phần tử lớn hơn */
  margin-top: 100px;
  /* Sử dụng Display ="flex" và Flex-direction ="Column" để khắc phục */
  display: flex;
  flex-direction: column;
}
.box_child {
  background-color: blue;
  width: 50%;
  margin-top: 70px;
}
